* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;

  background-image: linear-gradient(
      rgba(83, 10, 28, 0.4),
      rgba(83, 10, 08, 0.4)
    ),
    url(bg.jpg);
  background-size: cover;
  background-position: center;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.board {
  width: 50vw;
  height: 50vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  position: relative;
  margin-left: 4rem;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #ffe87c;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: #ffe87c;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: yellow;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: " ";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: rgba(160, 39, 69, 0.4);
}

.welcome-text {
  text-align: center;
  padding: 20px;
  font-weight: 300;
  background-color: #ffe87c;
  color: #fbb917;
}

.filler {
  height: 20px;
}

.container {
  margin: 10vh 20%;
  min-height: 80vh;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.box {
  cursor: pointer;
  border: 1px solid rgba(107, 16, 39, 0.4);
  margin: 0 -1.5px;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.box:hover {
  background-color: #ffffc2;
}

.box[value="X"] {
  color: red;
}

.box:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.6);
}

.winner {
  color: blueviolet;
}

.winner-screen .overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.winner-screen .message-box {
  position: absolute;
  width: 30vw;
  left: 35vw;
  top: 35vh;
  text-align: center;
  z-index: 11;
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.winner-screen .replay-button:focus {
  border: none;
}

.message-box .title {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 0;
  font-size: 20px;
}

.message-box .body {
  margin: 20px 0;
  font-size: 25px;
}

#new-game,
.replay-button {
  padding: 10px 20px;
  color: white;
  background-color: #ee9a4d;
  border: none;
  margin: 40px 0;
  transition: all 300ms ease-in-out;
}

.replay-button {
  background-color: purple;
}

#new-game:hover,
.replay-button:hover {
  transform: scale(1.15, 1.15);
  background-color: red;
  cursor: pointer;
}

#new-game:active,
.replay-button:active {
  transition: none;
  background-color: maroon;
}

.button-wrapper {
  text-align: center;
}

.score {
  width: 15vw;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgb(143, 198, 196, 0.3);
  color: white;
  z-index: 10;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.score-header {
  background-color: rgba(245, 37, 73, 0.3);
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.player-scores {
  padding: 10px 0;
}

.player-scores.X {
  background-color: rgb(249, 101, 116, 0.3);
}

.player-scores.Y {
  padding: 10px 0;
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.turn-indicator {
  font-size: 20px;
  color: white;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease-in-out;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 300ms, opacity 300ms ease-in-out;
}

@media screen and (max-width: 991px) {
  .box {
    width: 30vw;
    height: 29vw;
    transition: none;
  }

  .winner-screen .message-box {
    transform: scale(1.5, 1.5);
  }

  #new-game {
    transform: scale(2, 2);
  }

  #new-game:hover {
    transform: scale(2.5, 2.5);
  }

  .score {
    width: 100vw;
    font-size: 3rem;
  }

  .score .score-header {
    font-size: 3rem;
  }

  .turn-indicator {
    font-size: 3rem;
  }

  .welcome-text {
    font-size: 4rem;
  }

  .container {
    height: 100vh;
    margin: 0;
  }
}

/*  Loader   */

.loader-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.lds-grid {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
